*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #222;
    color: antiquewhite;
}
h1{
  font-size: 100px;
  color: #222;
  display: grid;
  place-items: center;
  margin-top: 250px;
}